<h3>You May Now Tweet</h3>

        <!--format html below-->
        <div class="container">
     
            <div class="row">
                <div class="col-md-12">
                    <span>User:</span><input ng-model="name" class="tweet-user" type="text" /> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>Enter Tweet:</span>
                    <input ng-model="twit" class="tweet-text" type="text" />
                    <button class="tweet-button">Submit Tweet</button>
                </div>
            </div>
            <div class="row tweets">
               {{name}}: {{twit}}  
            </div>
        </div>
