<h1>Welcome to the Great Tweet Box</h1>
<h3>Prepare to enter your name, and one of your deepest thoughts</h3>
<button ng-click="continueToNext()">I Was Born to Do This</button>

<!--<div class="main">
  <div class="container">

    <h2>Recent Photos</h2>
    <div class="row">
      <div class="item col-md-4" ng-repeat="photo in photos">
        <a href="#/photos/{{$index}}">
          <img class="img-responsive" ng-src="{{ photo.url }}">
          <p class="author">by {{ photo.author }}</p>
        </a>
      </div>
    </div>

  </div>
</div>-->